<div class="container">
  <!-- <div class="page1">
    <div class="page1-1">
      <p>
      &nbsp&nbsp  BRISBANE &nbsp SYDNEY &nbsp  MELBOURNE  &nbsp  ADELAIDE &nbsp PERTH
      </p>
    </div>
  </div> -->
  <div class="col-sm-12 page1">
    <div class="col-sm-offset-1 col-sm-10 page1-1">
      <p class="col-sm-offset-1 col-sm-2">BRISBANE</p >
      <p class="col-sm-2">SYDENY</p >
      <p class="col-sm-2">MELBOURNE</p >
      <p class="col-sm-2">ADELAIDE</p >
      <p class="col-sm-2">PERTH</p >
    </div>
  </div>

  <div class="col-sm-12 page2">
    <h3 class="page2-1">
      PV panels are now dominated by Chinese made brands,now it is time for Inverters to dominate the market.
    </h3>
    <p class="page2-2">
      Once their was a time when a Chinese made inverter was not trusted, but not now.
      That has all
    </p>
    <p class="page2-2">
      changed as these brands are taking Solar Inverter Industry by storm.
      With patented
    </p>
    <p class="page2-2">
      technologies and breakthrough achievements,Chinese brands are now
     loudly proud and
    </p>
    <p class="page2-2">
      dominate markets all over the world.OSW is uniquely positioned
      to deliver you these brands
    </p>
    <p class="page2-2">
      that will drive your business to new highs.
    </p>
    <p class="page2-3">
      Our Key Note Speaker Glen Morris has a lot to say on this subject, as does our MC Anthony
    </p>
    <p class="page2-3">
      Buckwell.The event will conclude with complimentary canapes & drinks,and the chance to
    </p>
    <p class="page2-3">
      mingle and network with events sponsors and other industry leaders!
    </p>

    <p class="page2-4">
      Don't believe us? Then come and hear from these incredible brands!
    </p>
  </div>

  <div class=" col-sm-12 page3">
    <p class="page3-1">
      1.Huawei is a leading solar inverter manufacturer, No.1 in global shipment 2015-2017 totaling 75GW
    </p>
    <p class="page3-2">
      2.Made for Australia – introducing 29.9KTL inverter for C&I scenario
    </p>
    <p class="page3-3">
      3.Superior design with game-changing features that maximise energy yield and minimise cost of O&M
    </p>
    <p class="page3-4">
      4.One-fits-all flexible PV solution for residential rooftops
    </p>
    <div class="page3-5">
      <%= link_to "rua!",signup_path, class: "button" %>
      <!-- <a class="button" href="/signup">rua!</a> -->
    </div>
  </div>

  <div class="col-sm-12 page4">
  <p class="page4-1">
    Sungrow is a global leading inverter solution supplier for renewables with over 79 GW installed worldwide

as of Dec 2018. Founded in 1997 by University Professor Cao Renxian, Sungrow is a leader in the research and

development of solar inverters, with the largest dedicated R&D team in the industry and a broad product

portfolio offering PV inverter solutions and energy storage systems for utility-scale, commercial, and

residential applications, as well as internationally recognized floating PV plant solutions. With a strong

22-year track record in the PV space, Sungrow products power installations in over 60 countries, maintaining

a worldwide market share of over 15%.
  </p>
  <a class="button2" href="/signup">rua!!</a>
</div>

<div class="col-sm-12 page5">
  <p class="page5-1">
    GoodWe will deliver intimate knowledge of its full range of products and detailed knowhow about both
residential and commercial storage solutions coupled with its ES & ET battery inverters and SBP AC-coupled
retrofit device. The course also covers technical and sales aspects that assist you in transitioning from
residential to commercial market. More importantly, find out what kind of added value GoodWe is
concentrating on for your future.
  </p>
  <a class="button2" href="/signup">rua!</a>
</div>

<div class="col-sm-12 page6">
  <div class="col-sm-offset-1 col-sm-2 divchicun">
    <h3 class="h_chicun">BRISBANE</h3>
    <!-- <img src="/home/v5puting/Desktop/asian_persuasion_practicing(1)/asian_persuasion_practicing/brisbane.png" /> -->
    <%=image_tag("asian_persuasion_practicing/brisbane.png", class:"chicun")%>
    <p class="p_chicun">1.00pm - 5.00pm Thursday 14/03/2019 Easts League Club</p>
  </div>
  <div class="col-sm-2 divchicun ">
    <h3 class="h_chicun">SYDNEY</h3>
    <%=image_tag("asian_persuasion_practicing/sydney.png", class:"chicun")%>
    <p p_chicun>1.00pm - 5.00pm Tuesday 19/03/2019 Dooleys Lidcombe Club</p>
  </div>
  <div class="col-sm-2 divchicun">
    <h3 class="h_chicun">MELBOURNE</h3>
    <%=image_tag("asian_persuasion_practicing/melbourne.png", class:"chicun")%>
    <p p_chicun>1.00pm - 5.00pm Monday 25/03/2018 The Kew Gold Club</p>
  </div>
  <div class="col-sm-2 divchicun">
    <h3 class="h_chicun">ADELAIDE</h3>
    <%=image_tag("asian_persuasion_practicing/adelaide.png", class:"chicun")%>
    <p p_chicun>1.00pm - 5.00pm Friday 29/03/2019 Royal Adelaide Golf Club</p>
  </div>
  <div class="col-sm-2 divchicun">
  <h3 class="h_chicun">PERTH</h3>
  <%=image_tag("asian_persuasion_practicing/perth.png", class:"chicun")%>
  <p p_chicun>12.30pm - 5.00pm Wednesday 10/04/2019 Royal Perth Golf Club</p>
  </div>
  <a class="button4",class="btn btn-primary btn-lg" data-toggle="modal" data-target="#eventModal">rua!!</a>
  <!-- href="/signup" -->
  </div>
<div class="col-sm-12 page7">
  <div class="col-sm-offset-1 col-sm-4 page7-1">
    <%=image_tag("asian_persuasion_practicing/glen_morris.png", class:"page7-1-1")%>
  </div>
  <div class="col-sm-6 page7-2">
    <h4 class="page7-2-1">Glen Morris</h4>
    <p class="page7-2-2">Glen has worked in electronics, renewable energy, software development,
       web hosting and vocational training. His current passion for training
       practitioners of renewable energy brings together his wide range of
        skills. Glen is very passionate about making a difference - helping the
        community move towards a more sustainable planet.
    </p>
    <p  class="page7-2-2">Glen is the General Manager for SmartLabEnergy and owner of both Solaris Pty Ltd & SolarQuip.</p>
  </div>
</div>

<div class="col-sm-12 page8">
  <div class="ol-sm-offset-1 col-sm-6 page8-1">
  <h4 class="page8-1-1">Anthony Buckwell</h4>
  <p class="page8-1-2">Anthony has spent over 20 years engineering in true leading edge technologies.
     Firstly on the first 3G mobile telecommunications networks and then the last
     10 years in the Renewable Energy sector. </p>
  <p class="page8-1-2">Holding a Bachelor of Engineering in Microelectronics (Comms), full CEC Design
     and Installation accreditation for on grid and Standalone Power Systems as well
      as a Electrical Mechanics license. </p>
  <p class="page8-1-2">Anthony has been the Technical Development Manager for One Stop Warehouse these last 3 years.</p>
  </div>
  <div>
    <%=image_tag("asian_persuasion_practicing/anthony_buckwell.png", class:"page8-2")%>
  </div>
  </div>

  <div class="test">
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
  </div>






  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row1" style="width: 200px;text-align: center;margin: auto;">
        <%=form_tag('/signup_event')%>
          <%=label_tag 'name'%></br>
          <%=text_field_tag 'name'%></br>
          <%=label_tag 'phone'%></br>
          <%=text_field_tag 'phone'%></br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%=submit_tag 'rua', id:'tijiao',class:'btn btn-primary',style:"width: 50px;text-align: center;margin: auto;"%>
      </div>
    </div>
  </div>
</div>
</div>
